{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>final_forecast</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    {%block content%}
    <!-- <h2>NEW SEARCH</h2> -->

    <div class="col s4">

        <nav>
            <div class="container nav-wrapper">
                <a href="/" class="brand-logo">Soccer Geometry</a>
                <ul id="nav-mobile" class="right">
                    <li><a href="/">Home</a></li>
                </ul>
            </div>
        </nav>

        {% for post in finalforecast%}
        <div class="card">
            <div class="card">
                <nav class="navbar navbar-light bg-light">
                    <form action=" {%url 'find_finalprediction_of_the_day'%}" method="POST" class="form-inline">
                        {% csrf_token %}
                        <div class="vector">
                            <input class="form-control mr-sm-2" type="search" placeholder="Enter match id here..."
                                name="matchid" aria-label="Search">
                        </div>
                        <div class="vector">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </div>


                    </form>
                    <form action=" {%url 'find_finalprediction_of_the_day_prev'%}" method="POST" class="form-inline">
                        {% csrf_token %}
                        <div class="vector">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Prev</button>
                        </div>
                    </form>
                    <form action=" {%url 'find_finalprediction_of_the_day_next'%}" method="POST" class="form-inline">
                        {% csrf_token %}
                        <div class="vector">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Next</button>
                        </div>
                    </form>
                    <div>

                    </div>
                </nav>
            </div>
            <div class="card-content">

                <div class="card-content">
                    <p> Match
                    <div name="matchidentity">{{post.0}}</div>
                    </p>
                    <p>{{post.1}}</p>
                    <div class="vector">
                        <p><button type="button" class="btn btn-warning ">{{post.2}}</button></p>
                    </div>
                    <div class="vector">
                        <p><button type="button" class="btn btn-warning">{{post.3}}</button></p>
                    </div>
                </div>
                <div class="card-content">

                    <div class="vector">
                        <p>HPG : <button type="button" class="btn btn-primary btn-sm">{{post.4}}</button></p>
                    </div>
                    <div class="vector">
                        <p> APG: <button type="button" class="btn btn-primary btn-sm">{{post.5}}</button></p>
                    </div>
                </div>

                <div class="card-content">
                    <div class="vector1">
                        <p>Home
                            <button type="button" class="btn btn-primary btn-sm">{{post.6}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p>Draw
                            <button type="button" class="btn btn-primary btn-sm">{{post.7}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> Away
                            <button type="button" class="btn btn-primary btn-sm">{{post.8}}</button>
                        </p>
                    </div>
                </div>








                <div class="card-content">
                    <div class="vector1">
                        <p> over 1.5
                            <button type="button" class="btn btn-primary btn-sm">{{post.16}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> under 1.5
                            <button type="button" class="btn btn-primary btn-sm">{{post.17}}</button>
                        </p>
                    </div>
                </div>
                <div class="card-content">
                    <div class="vector1">
                        <p> over 2.5
                            <button type="button" class="btn btn-primary btn-sm">{{post.22}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> under 2.5
                            <button type="button" class="btn btn-primary btn-sm">{{post.23}}</button>
                        </p>
                    </div>
                </div>
                <div class="card-content">
                    <div class="vector1">
                        <p> BTTS yes
                            <button type="button" class="btn btn-primary btn-sm">{{post.28}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> BTTS no
                            <button type="button" class="btn btn-primary btn-sm">{{post.29}}</button>
                        </p>
                    </div>
                </div>
                <div class="card-content">
                    <div class="vector1">
                        <p> CS 1-0
                            <button type="button" class="btn btn-primary btn-sm">{{post.31}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> CS 2-0
                            <button type="button" class="btn btn-primary btn-sm">{{post.32}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> CS 3-0
                            <button type="button" class="btn btn-primary btn-sm">{{post.33}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> CS 4-0
                            <button type="button" class="btn btn-primary btn-sm">{{post.34}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> CS 5-0
                            <button type="button" class="btn btn-primary btn-sm">{{post.35}}</button>
                        </p>
                    </div>
                </div>
                <div class="card-content">
                    <div class="vector1">
                        <p> CS 2-1
                            <button type="button" class="btn btn-primary btn-sm">{{post.36}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> CS 3-1
                            <button type="button" class="btn btn-primary btn-sm">{{post.37}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> CS 3-2
                            <button type="button" class="btn btn-primary btn-sm">{{post.38}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> CS 4-1
                            <button type="button" class="btn btn-primary btn-sm">{{post.39}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> CS 4-2
                            <button type="button" class="btn btn-primary btn-sm">{{post.40}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> CS 4-3
                            <button type="button" class="btn btn-primary btn-sm">{{post.41}}</button>
                        </p>
                    </div>
                </div>
                <div class="card-content">
                    <div class="vector1">
                        <p> CS 5-1
                            <button type="button" class="btn btn-primary btn-sm">{{post.42}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> CS 5-2
                            <button type="button" class="btn btn-primary btn-sm">{{post.43}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> CS 5-3
                            <button type="button" class="btn btn-primary btn-sm">{{post.44}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> CS 5-4
                            <button type="button" class="btn btn-primary btn-sm">{{post.45}}</button>
                        </p>
                    </div>
                </div>
                <div class="card-content">
                    <div class="vector1">
                        <p> CS 0-0
                            <button type="button" class="btn btn-secondary btn-sm">{{post.46}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> CS 1-1
                            <button type="button" class="btn btn-secondary btn-sm">{{post.47}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> CS 2-2
                            <button type="button" class="btn btn-secondary btn-sm">{{post.48}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> CS 3-3
                            <button type="button" class="btn btn-secondary btn-sm">{{post.49}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> CS 4-4
                            <button type="button" class="btn btn-secondary btn-sm">{{post.50}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> CS 5-5
                            <button type="button" class="btn btn-secondary btn-sm">{{post.51}}</button>
                        </p>
                    </div>
                </div>
                <div class="card-content">
                    <div class="vector1">
                        <p> CS 0-1
                            <button type="button" class="btn btn-primary btn-sm">{{post.52}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> CS 0-2
                            <button type="button" class="btn btn-primary btn-sm">{{post.53}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> CS 0-3
                            <button type="button" class="btn btn-primary btn-sm">{{post.54}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> CS 0-4
                            <button type="button" class="btn btn-primary btn-sm">{{post.55}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> CS 0-5
                            <button type="button" class="btn btn-primary btn-sm">{{post.56}}</button>
                        </p>
                    </div>
                </div>
                <div class="card-content">
                    <div class="vector1">
                        <p> CS 1-2
                            <button type="button" class="btn btn-primary btn-sm">{{post.57}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> CS 1-3
                            <button type="button" class="btn btn-primary btn-sm">{{post.58}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> CS 2-3
                            <button type="button" class="btn btn-primary btn-sm">{{post.59}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> CS 1-4
                            <button type="button" class="btn btn-primary btn-sm">{{post.60}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> CS 2-4
                            <button type="button" class="btn btn-primary btn-sm">{{post.61}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> CS 3-4
                            <button type="button" class="btn btn-primary btn-sm">{{post.62}}</button>
                        </p>
                    </div>
                </div>
                <div class="card-content">
                    <div class="vector1">
                        <p> CS 1-5
                            <button type="button" class="btn btn-primary btn-sm">{{post.63}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> CS 2-5
                            <button type="button" class="btn btn-primary btn-sm">{{post.64}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> CS 3-5
                            <button type="button" class="btn btn-primary btn-sm">{{post.65}}</button>
                        </p>
                    </div>
                    <div class="vector1">
                        <p> CS 4-5
                            <button type="button" class="btn btn-primary btn-sm">{{post.66}}</button>
                        </p>
                    </div>
                </div>







            </div>
            <!-- <div class="card-action">
            <a href="{{post.1}}">View listing: Price {{post.2}}</a>
            </div> -->
        </div>
        {%endfor%}
    </div>
    {%endblock%}




    <!-- <div>
    <h2 style="text-align: center;">{{finalforecast.0| title}}</h2>
    <h2 style="text-align: center;">{{finalforecast.1| title}}</h2>
    <h2 style="text-align: center;">{{finalforecast.2| title}}</h2>
    <h2 style="text-align: center;">{{finalforecast.3| title}}</h2>
    <h2 style="text-align: center;">{{finalforecast.4| title}}</h2>
    <h2 style="text-align: center;">{{finalforecast.5| title}}</h2>
</div> -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>

</html>