{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>final_forecast</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    {%block content%}
    <!-- <h2>NEW SEARCH</h2> -->

    <div class="col s4">

        <nav>
            <div class="container nav-wrapper">
                <a href="/" class="brand-logo">Soccer Geometry</a>
                <ul id="nav-mobile" class="right">
                    <li><a href="/">Home</a></li>
                </ul>
            </div>
        </nav>

        {% for post in finalforecast%}
        <div class="card">
            <div class="card">
                <nav class="navbar navbar-light bg-light">
                    <form action=" {%url 'find_finalprediction_of_the_day'%}" method="POST" class="form-inline">
                        {% csrf_token %}
                        <div class="vector">
                            <input class="form-control mr-sm-2" type="search" placeholder="Enter match id here..."
                                name="matchid" aria-label="Search">
                        </div>
                        <div class="vector">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </div>


                    </form>
                    <form action=" {%url 'find_finalprediction_of_the_day_prev'%}" method="POST" class="form-inline">
                        {% csrf_token %}
                        <div class="vector">
                            <input type="hidden" name="match_identity" value="{{post.0}}">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Prev</button>
                        </div>
                    </form>
                    <form action=" {%url 'find_finalprediction_of_the_day_next'%}" method="POST" class="form-inline">
                        {% csrf_token %}
                        <div class="vector">
                            <input type="hidden" name="match_identity" value="{{post.0}}">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Next</button>
                        </div>
                    </form>
                    <div>

                    </div>
                </nav>
            </div>
            <div class="card-content">

                <div class="card-content">
                    <p> Match
                    <div type="search" name="matchidentity">{{post.0}}</div>
                    </p>
                    <p>{{post.1}}</p>
                    <div class="card-content">
                        <button type="button" class="btn btn-warning ">{{post.2}}</button>


                        <button type="button" class="btn btn-warning">{{post.3}}</button>

                    </div>
                    <div class="card-content">
                        <button type="button" class="btn btn-outline-primary my-2 my-sm-0">HPG {{post.4}}</button>
                        <button type="button" class="btn btn-outline-primary my-2 my-sm-0">APG {{post.5}}</button>
                    </div>










                    <div class="card-content">

                        <label class="vector3">HOME </label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.6}}</button>



                        <label class="vector3">DRAW </label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.7}}</button>



                        <label class="vector3">AWAY</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.8}}</button>


                    </div>








                    <div class="card-content">

                        <label class="vector3">OVER 1.5 </label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.16}}</button>

                        <label class="vector3">UNDER 1.5 </label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.17}}</button>
                    </div>







                    <div class="card-content">

                        <label class="vector3">OVER 2.5</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.22}}</button>
                        <label class="vector3">UNDER 2.5</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.23}}</button>
                    </div>








                    <div class="card-content">

                        <label class="vector3">BTTS yes </label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.28}}</button>
                        <label class="vector3">BTTS no </label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.29}}</button>
                    </div>











                    <div class="card-content">

                        <label class="vector3">CS 1-0</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.31}}</button>



                        <label class="vector3">CS 2-0 </label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.32}}</button>



                        <label class="vector3">CS 3-0</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.33}}</button>



                        <label class="vector3">CS 4-0</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.34}}</button>



                        <label class="vector3">CS 4-0</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.35}}</button>


                    </div>
                    <div class="card-content">

                        <label class="vector3">CS 2-1</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.36}}</button>



                        <label class="vector3">CS 3-1</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.37}}</button>



                        <label class="vector3">CS 3-2</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.38}}</button>



                        <label class="vector3">CS 4-1</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.39}}</button>



                        <label class="vector3">CS 4-2</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.40}}</button>



                        <label class="vector3">CS 4-3</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.41}}</button>


                    </div>
                    <div class="card-content">

                        <label class="vector3">CS 5-1</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.42}}</button>



                        <label class="vector3">CS 5-2</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.43}}</button>



                        <label class="vector3">CS 5-3</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.44}}</button>



                        <label class="vector3">CS 5-4</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.45}}</button>


                    </div>
                    <div class="card-content">

                        <label class="vector3">CS 0-0</label>
                        <button type="button" class="btn btn-secondary btn-sm">{{post.46}}</button>



                        <label class="vector3">CS 1-1</label>
                        <button type="button" class="btn btn-secondary btn-sm">{{post.47}}</button>


                        <label class="vector3">CS 2-2</label>
                        <button type="button" class="btn btn-secondary btn-sm">{{post.48}}</button>


                        <label class="vector3">CS 3-3</label>
                        <button type="button" class="btn btn-secondary btn-sm">{{post.49}}</button>


                        <label class="vector3">CS 4-4</label>
                        <button type="button" class="btn btn-secondary btn-sm">{{post.50}}</button>

                        <label class="vector3">CS 5-5</label>
                        <button type="button" class="btn btn-secondary btn-sm">{{post.51}}</button>
                    </div>








                    <div class="card-content">
                        <label class="vector3">CS 0-1</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.52}}</button>



                        <label class="vector3">CS 0-2</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.53}}</button>


                        <label class="vector3">CS 0-3</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.54}}</button>





                        <label class="vector3">CS 0-4</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.55}}</button>



                        <label class="vector3">CS 0-5</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.56}}</button>




                    </div>
                    <div class="card-content">
                        <label class="vector3">CS 1-2</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.57}}</button>





                        <label class="vector3">CS 1-3</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.58}}</button>



                        <label class="vector3">CS 2-3</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.59}}</button>



                        <label class="vector3">CS 1-4</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.60}}</button>



                        <label class="vector3">CS 2-4</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.61}}</button>



                        <label class="vector3">CS 3-4</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.62}}</button>

                    </div>
                    <div class="card-content">

                        <label class="vector3">CS 1-5</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.63}}</button>



                        <label class="vector3">CS 2-5</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.64}}</button>



                        <label class="vector3">CS 3-5</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.65}}</button>



                        <label class="vector3">CS 4-5</label>
                        <button type="button" class="btn btn-primary btn-sm">{{post.66}}</button>


                    </div>







                </div>
                <!-- <div class="card-action">
            <a href="{{post.1}}">View listing: Price {{post.2}}</a>
            </div> -->
            </div>
            {%endfor%}
        </div>
        {%endblock%}




        <!-- <div>
    <h2 style="text-align: center;">{{finalforecast.0| title}}</h2>
    <h2 style="text-align: center;">{{finalforecast.1| title}}</h2>
    <h2 style="text-align: center;">{{finalforecast.2| title}}</h2>
    <h2 style="text-align: center;">{{finalforecast.3| title}}</h2>
    <h2 style="text-align: center;">{{finalforecast.4| title}}</h2>
    <h2 style="text-align: center;">{{finalforecast.5| title}}</h2>
</div> -->


        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

</body>

</html>